body{
	margin-top: -.5px;
	margin-left: -.6px;
	height:100%;
	background-image:url(background.jpg);
	
}

.mainbar{
	background-color:rgb(140,0,0)  ;
	color:white;
	height:20px;
	width:100%;
	border:1px solid black;
	margin-left: 0px;
	margin-top: 0px;
	position:fixed;
	padding:1px;
}

.tabs{
	background-color:rgb(140,0,0) ;
	height:30px;
	width:100%;
	position:fixed;
	margin-left:0px;
	margin-top:23px;
	border:1px solid black;

}

a{
	color:white;
	text-decoration: none;
	text-align: center;
}

a:hover{
	box-shadow: 0px 0px 150px black;
	z-index:2;
	background-color:red;
	transition:all .2s ease-in;
	transform:scale(1.2);
	color:white;
}

.home{
	background-color: ;
	height:30px;
	width:25%;
	position:fixed;
	margin-left:0px;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px; 
}

.aca{
	background-color:rgb(255,168,125); color:black;
	height:30px;
	width:25%;
	position:fixed;
	margin-left:25%;
	border-radius: 25px; 
}

.int{
	background-color: ;
	height:30px;
	width:25%;
	position:fixed;
	margin-left:50%;
	border-radius: 25px;
}


.con{
	background-color: ;
	height:30px;
	width:25%;
	position:fixed;
	margin-left:75%;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px; 

}

.box{
	margin-top: 54px;
	width:100%;
	height:100%;
	position:absolute;
	padding: 50px;
	padding-top: 10px;
 
}

.nur,.ten,.two,.eng{
	margin:60px; 
}

table{
	background-color: rgb(255,168,125);
	margin:auto;
	padding:0px;
	height:160px;
	width:60%;
	border:1px solid black;
	text-align: center;
}

th{
	width:33%;
	border:1px solid black;
}

.bag,.books,.notepad,.trophy{
	width:5%;
	height:auto;
}

.bag:hover,.books:hover,.notepad:hover,.trophy:hover{
	transition:all .2s ease-in;
	transform: scale(2);
}



.bag{
	top:80px;
	left:10%;
	position:absolute;
}

.books{
	top:330px;
	position:absolute;
	right:10%;
}

.notepad{
	top:540px;
	left:10%;
	position:absolute;
}

.trophy{
	top:770px;
	right:10%;
	position:absolute;
}