body{
	width:100%;
	
	
	
}

.header{
	border:1px solid black;
	width:100%;
	height:auto;
	background-color: rgb(59,89,152);
	color:white;
	

}

.logo{
	height:100px;
	width:100%;
	
	
	position: relative;
	
}

.image{
	display: block;
	height:100%;
	
	position: relative;
	
}

.login{
	
	left:50%;
	top:0;
	position:absolute;
}

#log{

	border: 1px solid black;
	color:white;
	background-color: rgb(66,107,171);
}

#f_a{
	text-decoration: none;
	color:rgb(88,117,173) ;
}

#f_a:active{
		color:white;
}

.login_table{
	margin-left: 70px;
	margin-top: 25px;
	width:100%;
}

.container{
	background:linear-gradient(white,rgb(211,217,231));
	width:100%;
	height:auto;
	position: relative;

}

.infotext{
	
		color:rgb(14,56,95);
		font-size:20px;
		font-weight:bold;
		line-height:29px;
		margin-top:40px;
		width:100%;
		word-spacing:-1px;
		text-align: left;
		position: relative;
	width:100%;
}

.info{
	width:50%;
	position: absolute;


}

.ima{
	
	width:auto;
	height:100%;
	position: absolute;
	


}
.image1{
	
	right:0px;
	width:100%;

	position: relative;
}

.signup{
	top:-80%;
	width:100%;
	height:auto;
	left:50%;
	padding-left:50px;
	position:relative; 
}

.line1,.line2{
	width: 50%;
}
.line1{
	font-family:Helvetica;
	font-size:40px;
	font-weight:bold;	
}

.line2{
	color:black;
	
	font-family:Helvetica;
	font-size:22px;
	font-weight:normal;
	line-height:28px;
	position: relative;
}

.first,.sur,.email,.pass{
	color:rgb(196,196,204);
}

.first,.sur,.email,.pass,.create{
	padding-left:5px;
	border:1px solid rgb(196,196,204);
	border-radius: 5px;
	font-size:23px;
	height:40px;
}

.first{
	
	width:220px;
	position: absolute;
}
.sur{
	margin-left:232px;
	width:210px;
	position: relative;

}

.email{
	
	margin-top: 10px;
	
	width:442px;
	position: relative;
}

.pass{
	margin-top:10px;
	
	width:442px;
}

.agreement{
	
	margin-top: 30px;
	width:350px;
	color:rgb(131,134,141);
	font-size:15px;
}

.create{
	color:white;
	
	margin-top: 30px;
	width:252px;
	background-color:rgb(95,156,78);
	font-size:23px;
}

.social{
	
	color:rgb(113,115,128);
	font-size:18px;
	font-weight:bold;
	margin-top:20px;
	padding-bottom: 20px;
	
}

.social > a{
	text-decoration: none;
	color:rgb(59,89,152);
}

.footer{
	padding:10px;
}

ul{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
}

li{
	float:left;
	padding:10px;
}

.footer{
	
	color:rgb(59,89,152);
	width:100%;
	
	position: relative;
}

#eng,.copyright{
	color:rgb(142,142,142);
}

.lang,.copyright{
	right:-30%;
	position: relative;
}

